<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <% for (let i = 0; i < pokemon.length; i++) { %>
    <div class="pokemon">
      <div class="link">
        <a href='/pokemon/<%=i%>'><%=pokemon[i].name%></a>
        <form method="POST" action="/pokemon/:id?_method=DELETE">
          <button type="submit">RELEASE POKEMON</button>
        </form>
      </div>
    </div>
    <% } %>
    <div class="pokemon">
      <div class="create">
        <a href='/pokemon/new'>CREATE POKEMON</a>
      </div>
    </div>

  </body>
</html>
