<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=pokemon[i].name%>
    <img src="<%=pokemon[i].img%>">
  </body>
</html>
